body{
	
	text-align: center;
}
.logot1a{

	height: 2em;
	width: 20%;
}

main{
	margin: 6%;	
	position: relative;
}

.pageContent{
	padding-top: 1.8%;
}

.pageContent, .pageTitle{
	position: relative;
	margin-left: auto;
	margin-right: auto;
}


.form-group{
	padding-bottom: 1.5%;
}

nav ul li a:hover, nav ul li a:active{
	border-bottom: 0.12em solid #ccc;
	padding-bottom: 0.5em;
}

nav ul li a:focus {
	outline: none;
}

.categorie{
	padding-right: 0.4%;
	position: relative;
	left: 0;
} 

.liste{
	
	margin-left: 60%;
}

.imgAccueil{
	height: 24em;
	width: 100%;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.form-control{
	width: 30%;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}


p{
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.navbar{
	background-color: #b47973 !important;
}



