body{
	
	text-align: center;
}

.logot1a{
	width: 2.8em;
	height: 2.8em;
	position: relative;
}

main{
	margin: 6%;	
	position: relative;
}

.pageContent{
	padding-top: 2.6%;
}

.pageContent, .pageTitle{
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.pageTitle{
	animation: colorblink 2s infinite;    
}

.form-group{
	padding-bottom: 1.5%;
}

li{
	margin-right:8%;
}

ul{
	margin-left: 26%;
}

nav ul li a:hover, nav ul li a:active{
	border-bottom: 0.12em solid #ccc;
	padding-bottom: 0.5em;
}

nav ul li a:focus {
	outline: none;
}

.categorie{
	padding-right: 0.4%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.form-control{
	width: 30%;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

@keyframes colorblink{
    50% {color:brown;}
}

p{
	text-align: justify;
}



